body {
	width: 100%;
	height: 100%;
	background: #fff;
	}
	
.uk-container {
	max-width: 100%;
}


.banner-link-to, .link-to {
	background-color: #94151E;
	color: #FFF;
}

.link-to:hover {
	background-color: #FFF;
	color: #94151E;
	border: 1px solid #94151E;
}

.banner-link-to:hover {
	background-color: transparent;
	color: #FFF;
	border: 1px solid #94151E;
}

.uk-h3 {
	color: #94151E;
	font-weight: 700;
}

header {
	width: 100%;
	
}

.navbar-wrapper .uk-container {
	width: 100%;
	background: #DFDFDF;
}

h3.garanty {
	color: #94151E;
	font-weight: 700;	
}

.registration {
	background-color: #94151E;
	padding: 10px 10px;
	margin: 60px 40px;
	border-radius: 5px;
}

.registration a {
	color: #fff;
}

.registration:hover {
	background-color: #fff;
	border: #94151E;
	color: #94151E;
}

.registration h2 a:hover {
	color:#94151E;
	font-weight: 700;
}

/* Slick Slider*/

#products-compare .slider-compare {
	width: 100%;	
}

#products-compare .slider-compare .img {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 2%;
    position: relative;
}

#products-compare .slider-compare .action{
	display:block;
	margin: 100px auto;
	width:100%;
	text-align:center;
}

.slider-compare .action a {
	display:inline-block;
	padding:5px 10px; 
	background:#f30;
	color:#fff;
	text-decoration:none;
}


/* Slick Slider End*/

footer {
	width: 100%;
	height: auto;
	
}

.footer-wrapper {
	width: 100%;
	padding: 30px 0;
	background: #9DA6A8;
	color: #fff;
}

.footer-catalogue .uk-nav-header {
	color:#E30000;
	font-weight: 600;
}


.footer-catalogue span.brand-name {
	color:#E30000;
}

.footer-catalogue .logo-bottom {
	font-weight: 600;
}


.footer-catalogue p a, .footer-catalogue li a, .footer-nav .uk-nav-sub li a {
	color: #fff;
}

.footer-catalogue p a:hover, .footer-catalogue li a:hover, .footer-nav .uk-nav-sub li a:hover {
	color: #94151E;
}


